.benefits{
    width: 100%;
    height: 70vh;
    margin: 30px 0px;
    background-image: url('https://static.nike.com/a/images/f_auto/dpr_1.0/w_1792,c_limit/60475bc5-7b0a-457a-a456-000c081ec429/nike-just-do-it.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.benefits > .benefits__info{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 80px;
}